<div class="floatLeft">
	<section id="requestPost">
		<h2>Er du på løb?</h2>
		<form>
			<p><label for="post_id">Indtast post-id:</label></p>
			<p class="buttonContainer">
				<input type=number name='post_id' id='post_id' class="postIdInput"><button id='goto_post'>Hent post</button>
			</p>
		</form>
	</section>
	<section class="guide">
		<h3>Sådan gør du</h3>
		<ol>
			<li>Find en post</li>
			<li>Indtast postens ID i feltet herover og tryk &ldquo;Hent post&rdquo;</li>
			<li>Svar på posten</li>
			<li>Gør hvad posten beder dig om</li>
		</ol>
	</section>
</div>

<div class="floatRight">
	<section>
		<% if not @loebs.empty? %>
			<h2>De <%= @loebs.count %> aktuelle løb</h2>
			<%= will_paginate @loebs %>
			<%= page_entries_info @loebs %>
			<ul class="loebsList">
				<% @loebs.each do |l| %>
					<li id="loeb_<%= l.id %>">
						<form>
							<strong class="title"><%= l.name %></strong>
							<span class="actions">
								<span class="edit">
									Custom løbs id:
									<input type="password" name='custom_loeb_id' />
									<input type="submit" value="ok"/>
								</span>
								<a href="javascript:editLoeb(<%= l.id %>)" class="edit">Redigér</a>
							</span>
						</form>
					</li>
				<% end %>
			</ul>
		<% else %>
			<h2>Lav et løb</h2>
			<p>Der er ingen aktuelle løb, men du skal være velkommen til at lave det næste!</p>
		<% end %>

		<p><%= link_to "Nyt løb", new_loeb_path, :class=> 'button' %></p>

		<!--h3>Gå til løb</h3>
		<form>
			<p class="buttonContainer">
				<input type=text name='custom_loeb_id' id='custom_loeb_id' class="postIdInput"><button id='goto_loeb'>Hent løb</button>
			</p>
		</form-->
		<section class="guide">
			<h3>Sådan gør du</h3>
			<ol>
				<li>Tryk Nyt løb og du er igang.</li>
				<li>Hvis du vil redigere et løb, så tryk &ldquo;redigér&rdquo; og indtast løbets kode.</li>
			</ol>
		</section>
	</section>
</div>

<a href="https://github.com/davsebamse/loebs--n--posts" id="gitLink"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://d3nwyuy0nl342s.cloudfront.net/img/abad93f42020b733148435e2cd92ce15c542d320/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677265656e5f3030373230302e706e67" alt="Fork me on GitHub"></a>

<script type="text/javascript">
	function editLoeb(id) {
		$('#loeb_'+id).addClass('edit').find('input[type="password"]').focus();
	}
</script>
