<%= form_for(@loeb) do |f| %>
  <% if @loeb.errors.any? %>
    <div id="error_explanation">
      <h2><%= @loeb.errors.count%> fejl gjorde at løbet ikke kunne oprettes:</h2>

      <ul>
      <% @loeb.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :navn %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :kontakt %>
    <%= f.text_field :contact %>
  </div>
  <div class="field">
    <%= f.label :kode %>
    <%= f.text_field :custom_id %>
  </div>
  <div class="field">
    <%= f.label :start %>
    <%= f.datetime_select :start %>
  </div>
  <div class="field">
    <%= f.label :slut %>
    <%= f.datetime_select :slut %>
  </div>
  <div class="field">
    <%= f.label :muligt_at_brugerne_selv_kan_oprette_hold %>
    <%= f.check_box :create_teams %>
  </div>
  <div class="actions buttonContainer">
    <%= f.submit 'Gem' %>
  </div>
<% end %>
