<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @loeb.name %>
</p>
<%= link_to 'Ændre løbs navn', edit_loeb_path(@loeb) %> |
<%= link_to 'Til alle løb', loebs_path %>
<p>
</p>
<table>
  <tr>
    <th>Post id (det brugeren skal taste)</th>
    <th>Første 30 tegn af post beskrivelsen</th>
  </tr>

<% @loeb.posts.each do |p| %>
  <tr>
    <td><%= p.id %></td>
    <td><%= p.name %></td>
	<td><%= link_to 'Opdater post', edit_post_path(p) %></p>
  </tr>
<% end %>
</table>

