<%= javascript_include_tag :ckeditor %>
<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description %><br />
	<%= f.cktext_area :description, :toolbar=>'Full', :width=>'600px', :height=>'400px' %>
  </div>
  <div class="field">
    <%= f.label :rigtig_svar %><br />
	<%= f.cktext_area :rigtig_svar, :toolbar=>'Full', :width=>'600px', :height=>'400px' %>
  </div>
  <div class="field">
    <%= f.label :rigtig_svar_ans %><br />
    <%= f.text_field :rigtig_svar_ans %>
  </div>
  <div class="field">
    <%= f.label :forkert_svar %><br />
	<%= f.cktext_area :forkert_svar, :toolbar=>'Full', :width=>'600px', :height=>'400px' %>
  </div>
  <div class="field">
    <%= f.label :try_again %><br />
    <%= f.check_box :try_again %>
  </div>
  <div class="field">
    <%= f.label :loeb_id %><br />
    <%= f.select :loeb_id, options_for_select(@loebs) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
