<% if !notice.nil? %>
	<p id="notice"><%= notice %></p>
<% end %>

<% if @post.loeb.teams.length > 0 and session[:team_id].nil? %>
	<h1>Indtast hold kode for at komme videre</h1>
	<form action='<%=request.request_uri%>'>
		<%= text_field 'team_id', 'team_id'%>
		<input type="submit" value="Svar" />
	</form>
<% else %>
<h1>
  <%= @post.loeb.name unless @post.loeb.nil? %>
</h1>
<h2>
	<%= @post.name %>
	<em class="small">ID: <%= @post.id %></em>
</h2>

<p>
  <%= @post.description.html_safe %>
</p>
<% if @post.post_type != "human" %>
<form id="goto_post">
	<p class="buttonContainer">
		<input type="text" name='post_id' id='post_id' /><input type="submit" value="Svar" />
	</p>
</form>
<% end %>
<script>
	$(document).ready(function() {
		$('#goto_post').submit(function(e) {
			e.preventDefault();
			window.location = '/posts/<%= @post.id%>/'+$('#post_id').val();
		});
	});
</script>
<% end %>
