<p id="notice"><%= notice %></p>

<h1>
  <%= @post.loeb.name unless @post.loeb.nil? %>
</h1>
<h2>
	<%= @post.name %>
	<em class="small">ID: <%= @post.id %></em>
</h2>

<p>
  <%= @post.description.html_safe %>
</p>

<form id="goto_post">
	<p class="buttonContainer">
		<input type="text" name='post_id' id='post_id' /><input type="submit" value="Svar" />
	</p>
</form>
<script>
	$(document).ready(function() {
		$('#goto_post').submit(function(e) {
			e.preventDefault();
			window.location = '/posts/<%= @post.id%>/'+$('#post_id').val();
		});
	});
</script>
