<!DOCTYPE html>
<html>
<head>
  <title>Loebnposts</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag "jquery.min.js" %>
  <%= csrf_meta_tag %>
	<!-- fonts -->
	<link href='http://fonts.googleapis.com/css?family=Artifika' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Copse' rel='stylesheet' type='text/css'>

</head>
<body>

<%= yield %>
<%= link_to 'Til Forsiden', '/' %>
</body>
</html>
