<!DOCTYPE html>
<html lang="da">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Scout Race</title>

	<!-- set size for mobile devices -->
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, maximum-scale=1.0" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<link rel="apple-touch-icon" href="/images/touch-icon.png" />

	<!-- style -->
	<%= stylesheet_link_tag :all %>

	<!-- fonts -->
	<link href='http://fonts.googleapis.com/css?family=Copse' rel='stylesheet' type='text/css'>

	<!-- javascript -->
	<%= javascript_include_tag :defaults %>
	<%= javascript_include_tag "jquery.min.js" %>
	<%= csrf_meta_tag %>
	
	<%= favicon_link_tag 'favicon.ico' %>

	<!-- less style  - should only be used in development, not in production -->
	<!-- compile style.less, overwrite style.css and comment out the two files below -->
	<!--link rel="stylesheet/less" type="text/css" href="/stylesheets/style.less"-->
	<%#= javascript_include_tag "less-1.1.3.min.js" %>
</head>
<body>
	<article id="wrapper">
		<h1 class="frontpage"><a href="/"><%= image_tag("logo.png", :alt => "Logo", :id => "logo") %> Scout Race</a></h1>
		<%= yield %>
		<section id="footer">
			<nav class="buttonContainer">
				<%= link_to '« Til forsiden', '/', :class=> 'button' %>
			</nav>
			<%= mail_to 'kontakt@scoutrace.dk', 'Kontakt os', :class => "email"%>
			<%= link_to 'Om os', '/about'%>
		</section>
	</article>
</body>
</html>
